<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moduleBookshelf">

    <application
        android:name="com.common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/bookshelf_app_name"
        android:supportsRtl="true"
        android:theme="@style/public_AppTheme">

        <activity
            android:name="com.moduleBookshelf.ui.launch.BookShelfLaunchActivity"
            android:theme="@style/public_AppTheme_NoActionBar_Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.bookshelf.BookshelfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.readbook.ReadBookActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
