<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moduleCommon">

    <application>
        <activity
            android:name=".ui.bookDetails.CommonBookDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/public_AppTheme_NoActionBar" />
        <activity
            android:name=".ui.readBook.CommonReadBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.webview.CommonWebViewActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
